In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/ny_taxi")
engine.connect()

In [6]:
df_zones = pd.read_csv("D:\DE_Zoom\zone_lookup.csv")
df_zones.head()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\delib\AppData\Local\Temp\ipykernel_2976\2103220432.py:1: SyntaxWarning: invalid escape sequence '\D'
  df_zones = pd.read_csv("D:\DE_Zoom\zone_lookup.csv")

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

265